* {
    box-sizing: border-box;
    text-align: center;
}

.sample {
    margin: auto;
    height: 100px;
    margin: 0px 20px;
    background-image: linear-gradient( red, yellowgreen);
    padding-top:15px;
}


.heading {
    height: 100px;
    margin: 0px 20px;
    background-color: rgba(128, 126, 128, 0.5);
    font-family: system-ui;
    color: blue;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.elements {
    margin: 0px 20px;
    height: 150px;
    background-color: yellowgreen;
}

.divs {
    margin: auto;
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border-style: solid;
}
#c1 {
    background-color: blueviolet;
    border-color:yellow;
}

#c2 {
    border-color: red;
    background-color: whitesmoke;
}

#c3 {
    background-color: rgba(236, 12, 236, 0.5);
    border-color:orangered;
}

.b {
    border: 5px solid blue;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    margin-top:5px;
}